In [1]:
import geopandas as gpd
# import pyproj
# from shapely.ops import transform

df = gpd.read_file('convert.shp')
df.head()

,STATEFP,COUNTYFP,TLID,TFIDL,TFIDR,MTFCC,FULLNAME,SMID,LFROMADD,LTOADD,...,TTYP,DECKEDROAD,ARTPATH,PERSIST,GCSEFLG,OFFSETL,OFFSETR,TNIDF,TNIDT,geometry
0,51,740,122192450,217326600,217326601,S1400,Scott St,1604,3401,3499,...,None,N,N,None,N,N,N,54657433,54657370,"LINESTRING (-76.34304 36.82758, -76.34447 36.8..."
1,51,740,122192498,217326599,217329859,S1400,Rodman Ave,1604,1701,1799,...,None,N,N,None,N,N,N,54657368,54660042,"LINESTRING (-76.34725 36.82524, -76.34722 36.8..."
2,51,740,122199058,261427396,217326602,S1400,Race St,1604,3501,3511,...,None,N,N,None,N,N,N,54657372,54660537,"LINESTRING (-76.34449 36.82828, -76.34520 36.8..."
3,51,740,122192438,217326603,217326635,S1400,Griffin St,1604,3401,3499,...,None,N,N,None,N,N,N,54657427,54657424,"LINESTRING (-76.34310 36.82906, -76.34452 36.8..."
4,51,740,122192454,217326605,217326639,S1400,Loudoun Ave,1604,None,None,...,None,N,N,None,N,N,N,54657436,54657431,"LINESTRING (-76.34296 36.82532, -76.34297 36.8..."

In [3]:
# Set the projection of the dataframe to GCS_WGS_1984 - Also known as EPSG:4326
df.crs = 'EPSG:4326'

# Covert the projection to NAD_1983_StatePlane_Virginia_South_FIPS_4502_Feet - Also known as ESRI:102747
df_convert = df.to_crs("ESRI:102747")

In [4]:
df_convert.head()

,STATEFP,COUNTYFP,TLID,TFIDL,TFIDR,MTFCC,FULLNAME,SMID,LFROMADD,LTOADD,...,TTYP,DECKEDROAD,ARTPATH,PERSIST,GCSEFLG,OFFSETL,OFFSETR,TNIDF,TNIDT,geometry
0,51,740,122192450,217326600,217326601,S1400,Scott St,1604,3401,3499,...,None,N,N,None,N,N,N,54657433,54657370,"LINESTRING (12114177.496 3467993.465, 12113759..."
1,51,740,122192498,217326599,217329859,S1400,Rodman Ave,1604,1701,1799,...,None,N,N,None,N,N,N,54657368,54660042,"LINESTRING (12112963.859 3467113.578, 12112978..."
2,51,740,122199058,261427396,217326602,S1400,Race St,1604,3501,3511,...,None,N,N,None,N,N,N,54657372,54660537,"LINESTRING (12113745.879 3468240.716, 12113539..."
3,51,740,122192438,217326603,217326635,S1400,Griffin St,1604,3401,3499,...,None,N,N,None,N,N,N,54657427,54657424,"LINESTRING (12114146.409 3468533.926, 12113731..."
4,51,740,122192454,217326605,217326639,S1400,Loudoun Ave,1604,None,None,...,None,N,N,None,N,N,N,54657436,54657431,"LINESTRING (12114219.354 3467173.925, 12114213..."

In [5]:
df_convert.to_file('convert_NAD.shp')